<div id="ansible">
  <h2>Ansible</h2>

  <h3>Documentation</h3>
  <ul>
    <h4>Official Ansible</h4>
    <ul>
      <li>The Beginning: <a href="https://docs.ansible.com/ansible/latest/index.html" target="_blank">https://docs.ansible.com/ansible/latest/index.html</a></li>
      <li>CommandLine Tools: <a href="https://docs.ansible.com/ansible/latest/cli/ansible.html" target="_blank">https://docs.ansible.com/ansible/latest/cli/ansible.html</a></li>
      <li>Module Index: <a href="https://docs.ansible.com/ansible/2.9/modules/modules_by_category.html" target="_blank">https://docs.ansible.com/ansible/2.9/modules/modules_by_category.html</a></li>
    </ul>
  </ul>

    <h4>Installation</h4>
    As a note Ansible does not support being installed on Windows so it would be helpful to install the Windows Subsystem for Linux and then install your preferred distro
    Make sure Python 3x is installed
    Install Pip 
    Use pip to install ansible
    verify installation with 
    <code>ansible --version</code>
    <h4>Configuration</h4>
    Ensure connection to inventory servers by sshing into them to verify connection 
    ssh-keygen 
    ssh-copyid
    verify connection 
    ansible.cfg
    Setting up the Inventory File.

<h4>Tasks</h4>
<h4>Playbooks</h4>
<h4>Variables</h4>




    <h5>AdHoc Commands</h5>
    <h5>Playbooks</h5>
    <h6>Host</h6>
    <h6>Become</h6>
    <h6>Tasks</h6>
    <h6>Handlers</h6>


    <h5>Roles</h5>





</div>