<div id="devops-basics">
  <h2>Dev-Ops</h2>
   <h3>SRE stuffs</h3>

  <a href="https://sre.google/sre-book/table-of-contents/" target="_blank"></a>
  <ul>
    <h4>HashiCorp</h4>
    <li>Packer - Image Builder</li>
    <li>Vagrant - virtual machines</li>
    <li>Terraform - Infrastructure builder</li>
    <li>Vault - Credential repo</li>
    <li>Consul - Network Automation</li>
    <li>Nomad - Deployment</li>
  </ul>
  <li>Ansible</li>
  <h3>Certifications</h3>
  <ul>
    <h4>LPI</h4>
    <ul>
      <li>DevOps Tools Engineer</li>
    </ul>
  </ul>
</div>