<div id="hardware">
  <h2>System Hardware</h2>


  <p>An analogy I have found to help non-technical people understand the basic function of computer hardware is a library.</p>
  <p>The basic fundamental components can be represented in an easy to understand high level comparison.</p>
  <ul>
    <li>Case:</li>
      <ul>
        <li> The library building. This is an easy one. That which surrounds the contents of the library.  Has the location for which power comes in etc.  </li>
      </ul>
    <li>Motherboard: </li> 
    <ul>
      <li>The inside.  The square footage.  Holding all the things. The mother board connects all the components to each other.</li>
    </ul>
    <li>Processor: </li>
    <ul>
      <li>In this analogy you as a person are the processor.  You are doing all the work.It could be said that you are doubling as the Operating System as well.</li>
    </ul>

    <li>Hard Drive:</li>
    <ul>
      <li> The shelves that hold the books.  In this case, it holds your files.  When you are not using a file, or book, you place it on the shelf.</li>
    </ul>

    <li>Memory:</li>
    <ul>
      <li>Imagine a table that you are working at.  All the books you take off the shelf and are using are open on the table.  If you have a bigger table, you can put more of those books out at once allowing you to do more at once.</li>
    </ul>

  </ul>


</div>