<div id="cloud">

  <h2>Introduction to Cloud Technology</h2>

  <h2>Certifications</h2>
  <ul>
    <h3>CompTIA</h3>
    <ul>
      <li>Cloud Essentials+</li>
      <li>Cloud+</li>
    </ul>
  </ul>

</div>