<div id="gcp">

  <h2>Google Cloud Platform</h2>
  https://cloud.google.com/docs
  https://cloud.google.com/whitepapers
















  <h3>GCP Storage Bucket</h3>
  <h5>-Allow external user access</h5>
  <ol>
    <li>Login to the Google Cloud Console </li>
    <li> Select the project from the drop down at the top of the page </li>
    <li>In the search box at the top of the console or the side menu search for "IAM & Admin" and then select "Organization Policies" </li>
    <li>In the Filter Search type in domain and then select "Domain restricted sharing"</li>
    <li> At the top click the "Edit" button </li>
    <li>Under "Applies to" select Customize </li>
    <li>Change the Policy enforcement option to "Replace" and then change "Policy Value" to "Allow" </li>
    <li>Scroll down to the bottom and click save </li>
    <li> In the Search box at the top of the console or the side menu search for Cloud Storage </li>
    <li>Find the requested bucket and click the check box and then "Show Info Panel" in the top right </li>
    <li>Click the Add Member button on the right pane </li>
    <li>Search for and add the  "allUsers" member </li>
    <li>For role select  Cloud Storage > Storage Object Viewer Role </li>
    <li> Click Save </li>
    <li>Navigate back to "IAM & Admin" and "Organization Policies" </li>
    <li>In the Filter Search type in domain and then select "Domain restricted sharing" </li>
    <li>At the top click the "Edit" button </li>
    <li>Under "Applies to" select</li>
    <li>"Inherit parent's policy" and click save </li>
  </ol>
 
 
  
   
  
  
  
  
  
   
  
  
  
    
  
  




  <h3>Certifications</h3>
  <ul>
    <h4>Entry Level</h4>
    <ul>
      <li>Cloud Digital Leader</li>
    </ul>
    
    <h4>Associate</h4>
    <ul>
      <li>Associate Cloud Engineer</li>
    </ul>
    <h4>Professional</h4>
    <ul>
      <li>Cloud Architect</li>
      <li>Cloud Developer</li>
      <li>Data Engineer</li>
      <li>Cloud DevOps Engineer</li>
      <li>Cloud Security Engineer</li>
      <li>Cloud Network Engineer</li>
      <li>Collaboration Engineer</li>
      <li>Machine Learning Engineer</li>
    </ul>
  </ul>
</div>