<div id="openstack">
  <h2>OpenStack</h2>
  https://docs.openstack.org/xena/?_ga=2.196029349.822082941.1637257253-1991350895.1637257253
  <p>OpenStack is a set of software tools for building and managing cloud computing platforms for public and private clouds. Backed by some of the biggest companies in software development and hosting, as well as thousands of individual community members, many think that OpenStack is the future of cloud computing.</p>
  
  
  <h3>Installation</h3>
  
  <h4>Kolla Ansible</h4>
  <p>Kolla Toolbox</p>
  
  
  
  zuul.d
  
  
<h4>Configuration</h4>  
<ul>
  <li>Nova</li>
  <li>Keystone</li>
  <li>Etcd</li>
  <li>RabbitMQ</li>
  <li>Horizon</li>
  <li>Neutron</li>
  <li>MariaDB</li>
  <li>Memcached</li>
  <li>Glance</li>
  <li>Placement</li>
  <li>Fluentd</li>
  <li>Cron</li>
  <li>Calico</li>
  <li>Prometheus</li>
  <li>Chrony</li>
  <li>Cinder</li>
  <li>Aodh</li>
</ul>
  
  
  
  
  <h3>Certifications</h3>
  <ul>
    <ul>
      <li>Certified OpenStack Administrator (COA)</li>
    </ul>
  </ul>

</div>