<div id="linux">
  <h2>Linux Operating System</h2>
  
  <h4>Linux Resources</h4>
   https://tldp.org/


   http://www.cyberciti.biz/faq/stress-test-linux-unix-server-with-stress-ng/  is information on a program called stress.  Using this program with two terminal windows can help you understand what you looking at.    In on window start stress with the desired argument and in the other run top so you can see how it shows up.  
   


   <h3>Distributions</h3>


<h4>Installation</h4>
   kickstart


<h4>Configurations</h4>
cloudinit

<h5>Linux Networking Commands</h5>

<p>
  Ethtool –P eth0 

/etc/sysconfig/network-scripts 
</p>


  <h3>Linux Certifications</h3>
  <ul>
    <h4>LPI</h4>
    <ul>
      <li>Linux Essentials</li>
      <li>LPIC-1</li>
      <li>LPIC-2</li>
    </ul>

    <h4>CompTIA</h4>
    <ul>
      <li>Linux+</li>
    </ul>

    <h4>Linux Foundation</h4>
    <ul>
      <li>Certified IT Associate</li> 
      <li>Certified SysAdmin</li>
      <li>Certified Engineer</li>
   </ul>
  </ul>
</div>