<div id="windows">
  <h2>Microsoft Windows</h2>
  Windows Resources 


  <h2>Microsoft Windows Server</h2>
  Windows Server Resources
  Windows Server 



  <h3>Microsoft Certifications</h3>
  <ul>
    <h4>Microsoft Windows</h4>
    <ul>
      <li>MTA: Windows Operating System Fundamentals</li>
      <li>MTA: Networking Fundamentals</li>
      <li>MTA: Security Fundamentals</li>
    </ul>
    <h4>Windows Server</h4>
    <ul>
      <li>MTA: Windows Server Administration Fundamentals</li>
      <li>MCSA: Windows Server 2012</li>
      <li>MCSA: Windows Server 2016</li>
      <li>Microsoft Certified: Windows Server Hybrid Administrator Associate</li>
      <li>MCSE: Core Infrastructure</li>
    </ul>
  </ul>
</div>

