<div id="bash">
    
While it’s going to be good to be aware and have knowledge and abilities with these languages, remember that BASH is not just the command line interpreter of linux, but also a very powerful scripting language in and of itself.  

Shell Scripting  

http://www.cyberciti.biz/open-source/learning-bash-scripting-for-beginners/  Link to several open ones


http://codecademy.com
cbtnuggets and linuxacademy both have courses on command line

Awk
http://www.gnu.org/software/gawk/manual/gawk.html

Effective awk Programming
https://drive.google.com/file/d/0B-vQAhaJfKFTOGxwTkJMbnBpdzA/view?usp=sharing

Sed
	http://www.grymoire.com/Unix/Sed.html



https://docstore.mik.ua/orelly/index.htm
http://www.codingame.com
	


</div>


