<div id="perl">

    Perl
http://learn.perl.org/
http://learnperl.scratchcomputing.com/
http://qntm.org/files/perl/perl.html
http://codecademy.com

Programming Perl
https://drive.google.com/file/d/0B-vQAhaJfKFTbktIdUVnUGJnTWM/view?usp=sharing


</div>