<div id="python">


Python:
http://www.learnpython.org/
https://linuxacademy.com - Introduction To Python On Linux
http://cbtnuggets.com - Python Programming
https://trinket.io/  - online python engine to create code and run in opposing window
http://codecademy.com

Programming Python
https://drive.google.com/file/d/0B-vQAhaJfKFTZnJSV1RkRDhmWmc/view?usp=sharing

Edx.org
UT ArlingtonX  - Learn to program using python
HarveyMuddX - CS For All: Introduction to Computer Science and Python Programming
MITx - Introduction to Computer Science and Programming using Python



</div>