<div id="video">

<h2>Top Free Providers</h2>
<a href="https://www.professormesser.com/" target="_blank">Professor Messer</a>



<h2>Top Paid Providers</h2>

<a href="https://www.acloudguru.com" target="_blank">A Cloud Guru</a>
<a href="https://www.pluralsight.com" target="_blank">PluralSight</a>
<a href="https://www.itpro.tv" target="_blank">IT Pro TV</a>
<a href="https://www.cbtnuggets.com" target="_blank">CBT Nuggets</a>
<a href="https://www.linkedin.com/learning/" target="_blank">LinkedIn Learning</a>







</div>